
body {
  font-size: 24px;
  background-color: black;
  color: white;
  margin: 0 auto;
  font-family: 'oswald', sans-serif;

}

div {
  padding: 50px;
  padding-top: 30px;
}



h1 { font-size: 36px;}


.buttons {
  padding-top: 100px;
  margin-top: 100px;
}
.next, .prev, .home{
  color: gray;
  font-weight: 300;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}
li {
  display: inline-block;
  padding: none;
  margin-left: 8px;
	margin-bottom: 0px;
  
}
nav {
  border-bottom: 1px solid;
}

.selected {
  background: #000;
  color: #fff;
}

.name {
  padding-top: 30px;
  font-size: 24px;
  line-height: 0;
  color: gray;
  font-weight: 300;
}

#artistName {
  padding-top: 100px;
}

.imageClass {
  width: 115px;
  height: 115px;
}

.innerImage {
  padding-top: 10px;
  width: 550px;
  height: 550px;
}
